<div class="toolbar" role="banner" *ngIf="url != loginUrl && url != homeUrl && url != registerUrl">
  <img class="img" src="../../../assets/images/logo.jpg" height="50" width="50">
    <span>Plateforme de payment OM</span>
      <div class="spacer"></div>
        <!--<mat-icon aria-hidden="false" aria-label="Example login icon" matTooltip="Connectez-vous ici">login</mat-icon>-->
        <!--<button class="mat-flat-button" (click)="login()">
          Login
        </button>-->
         <button mat-raised-button (click)="logout()">
          Déconnexion
        </button>
        
      <div style="margin: 5px;"></div>
    
  </div>