<div class="toolbar" role="banner">
  <img class="img" src="/src/assets/images/logo.jpg" alt="" height="50px" width="50px">
    <span>Plateforme de payment OM</span>
      <div class="spacer"></div>
        <!--<mat-icon aria-hidden="false" aria-label="Example login icon" matTooltip="Connectez-vous ici">login</mat-icon>-->
        <button (click)="login()">
          Login
        </button>
        
      <div style="margin: 5px;"></div>
     <button (click)="register()"> Register
      <!-- <mat-icon aria-hidden="false" aria-label="Example register icon" matTooltip="Inscrivez-vous ici">register</mat-icon>-->
     </button> 
  </div>