.card-container {
    padding: 0px;
    margin-top: 0px;
    align-self: center;
    position: relative;
    }
    .form-content{
        padding: 30px;
    }
    .toolbar{
        text-align: center;
        background-color:crimson;
    
    }
    
    .title-center{
        flex: 1 1 auto;
    }
    .content {
        align-self: center;
        padding: 30px;
        text-align: center;
    }
    .mat-card {
        align-self: center;
        height: 350px;
        margin-top: 20px;
    }