<div class="card-container" fxLayout="column" fxLayoutAlign="start center" fxFlexFill >
    <div class="mat-card">
      <mat-tab-group>
        <mat-tab label="Méthode de paiement"> 
              <form [formGroup]="firstForm" class="form-content" fxLayoutAlign="stretch" fxLayout="column">
                <mat-form-field>
                  <input matInput id="methode" type="text" formControlName = "methode" required placeholder="methode">
                  <div class="alert-danger" *ngIf="f['methode'].errors && f['methode'].touched">
                      <div *ngIf="f['methode'].errors?.['required']">Method is required</div>
                    </div>
                </mat-form-field>
              </form>
        </mat-tab>
        <mat-tab label="Informations du client"> 
          <form [formGroup]="secondeForm" class="form-content"  fxLayout="raw">
            <mat-form-field>
              <input matInput id="idTypeClient" type="text" formControlName = "idTypeClient" required placeholder="idTypeClient">
              <div class="alert-danger" *ngIf="g['idTypeClient'].errors && g['idTypeClient'].touched">
                  <div *ngIf="g['idTypeClient'].errors?.['idTypeClient']">IdType is required</div>
                </div>
            </mat-form-field>
    
            <mat-form-field>
              <input matInput id="idClient" type="text" formControlName = "idClient" required placeholder="idClient">
              <div class="alert-danger" *ngIf="g['idClient'].errors && g['idClient'].touched">
                  <div *ngIf="g['idClient'].errors?.['idClient']">Id is required</div>
                </div>
            </mat-form-field>
            <mat-form-field>
              <input matInput id="otpClient" type="text" formControlName = "otpClient" required placeholder="otpClient">
              <div class="alert-danger" *ngIf="g['otpClient'].errors && g['otpClient'].touched">
                  <div *ngIf="g['otpClient'].errors?.['otpClient']">OTP code is required</div>
                </div>
            </mat-form-field>
          </form>
        </mat-tab>
        <mat-tab label="Informations du partenaire"> 
          <form [formGroup]="thirdForm" class="form-content"  fxLayout="raw">
            <mat-form-field>
              <input matInput id="idTypeP" type="text" formControlName = "idTypeP" required placeholder="idTypeP">
              <div class="alert-danger" *ngIf="h['idTypeP'].errors && h['idTypeP'].touched">
                  <div *ngIf="h['idTypeP'].errors?.['idTypeP']">IdType is required</div>
                </div>
            </mat-form-field>
    
            <mat-form-field>
              <input matInput id="idP" type="text" formControlName = "idP" required placeholder="idP">
              <div class="alert-danger" *ngIf="h['idP'].errors && h['idP'].touched">
                  <div *ngIf="h['idP'].errors?.['idP']">Id is required</div>
                </div>
            </mat-form-field>
          
          </form>
        </mat-tab>
        <mat-tab label="Montant paiement"> 
          <form [formGroup]="forthForm" class="form-content"  fxLayout="raw">
            <mat-form-field>
              <input matInput id="value" type="text" formControlName = "value" required placeholder="value">
              <div class="alert-danger" *ngIf="j['value'].errors && j['value'].touched">
                  <div *ngIf="j['value'].errors?.['value']">Value is required</div>
                </div>
            </mat-form-field>
    
            <mat-form-field>
              <input matInput id="unit" type="text" formControlName = "unit" required placeholder="unit">
              <div class="alert-danger" *ngIf="j['unit'].errors && j['unit'].touched">
                  <div *ngIf="j['unit'].errors?.['unit']">Unit is required</div>
                </div>
            </mat-form-field>
          
          </form>
        </mat-tab>
        <mat-tab label="Autres infos ">
         
          <form [formGroup]="fifthForm" class="form-content"  fxLayout="raw">
              <mat-form-field>
                <input matInput id="reference" type="text" formControlName = "reference" required placeholder="reference">
                <div class="alert-danger" *ngIf="k['reference'].errors && k['reference'].touched">
                    <div *ngIf="k['reference'].errors?.['reference']">Reference is required</div>
                  </div>
              </mat-form-field>
      
              <mat-form-field>
                <input matInput id="receiveNotification" type="text" formControlName = "receiveNotification" required placeholder="receiveNotification">
                <div class="alert-danger" *ngIf="k['receiveNotification'].errors && k['receiveNotification'].touched">
                    <div *ngIf="k['receiveNotification'].errors?.['receiveNotification']">Unit is required</div>
                  </div>
      
                 
              </mat-form-field>
           
          
         
          </form>
            <button mat-raised-button class="button">
              Ajouter
       </button>
        </mat-tab>
        
      </mat-tab-group>
      
    </div>
    </div>
    © 2022 GitHub, Inc.
