.card-container {
    padding: 0px;
    margin-top: 0px;
    align-self: center;
    position: relative;
    }
    .form-content{
        padding: 30px;
    }
    .toolbar{
        text-align: center;
        background-color:crimson;
    
    }
    .mat-button{
       background-color: rgb(41, 117, 240);
       width: 70px;
       align-self: center;
    }
    .title-center{
        flex: 1 1 auto;
    }
    .formulaire {
        align-self: center;
    }
    .mat-card {
        align-self: center;
        height: 350px;
        margin-top: 20px;
    }