<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  
  <a class="navbar-brand" href="#">
    <img src="../../../assets/images/Logo-Trans.png" width="200" height="40" /> OMPayment</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="#">
        <i class="pi pi-home" style="font-size: 1.3rem; color: red;"> Home</i>
      </a>
      <a class="nav-item nav-link" href="/transactions">
        <i class="pi pi-bookmark-fill" style="font-size: 1.3rem; color: red;"> Transactions</i>
      </a>
    </div>
  </div>
  <div class="form-inline my-0 my-lg-0">
      <button  *ngIf="!(isLogged$ | async)" pButton type="button" class="p-button-success p-button-text" label="Login" icon="pi pi-sign-in" iconPos="right" (click)="login()"> </button>
      <button *ngIf="!(isLogged$ | async)"  pButton type="button" class="p-button-warning p-button-text" label="Register" icon="pi pi-user-plus" iconPos="right" (click)="register()"> </button>
      <button  *ngIf="isLogged$ | async"  pButton type="button" class="p-button-danger p-button-text" label="Logout" icon="pi pi-sign-out" iconPos="right" (click)="logout()"> </button>
  </div>
</nav>

<!-- Jumbotron -->
<div class="p-3 text-center bg-light">
  <h1 class="mb-7">Plateforme de Payement Par Orange Money</h1>
  <img src="../../../assets/images/Logo-Trans.png" width="300" height="50" /> 
  <h4 class="mb-3"></h4>
</div>
<!-- Jumbotron -->
<div >
<section id="presentation">
 
</section>

</div>



















































































<!--
  

  
    <div class="card-container" fxLayoutAlign="center center" fxFlexFill>
    
      <mat-card class="mat-class" fxFlex="50"> 

        
            <img mat-card-image class="home-image" src="../../../assets/images/800X200.png">

   
        <mat-toolbar class="toolbar">

   
                <mat-card-title class="title-center">
                
                      <span>
                        Bienvenue sur la plateforme 
                        de paiement OM
                      </span>  
                
                </mat-card-title>

            </mat-toolbar>
  

            

            <mat-card-actions class="actions">

                <a href="/login"  matTooltip="Déjà un compte? Connectez-vous!">Connexion</a>
    
     <button mat-raised-button style="color: primary;" (click)="register()"  matTooltip="Vous n'avez pas encore de compte? Inscrivez-vous!"> Inscription
      <!-- <mat-icon aria-hidden="false" aria-label="Example register icon" matTooltip="Inscrivez-vous ici">register</mat-icon>-->
    <!--

   
    </button> 
            </mat-card-actions>


      </mat-card>
    </div>
 --> 