
<div class="container">
  <div class="row" class="mb-5 my-5">
    <button *ngIf="!isNewTransaction" pButton type="button" icon="pi pi-plus" label="Nouvelle transaction" 
    class="p-button-raised p-button-danger p-button-rounded p-button"
     iconPos="left" (click)="NewTransactionOrList()"></button>
     <button *ngIf="isNewTransaction" pButton type="button" icon="pi pi-list" label="Transactions" 
     class="p-button-raised p-button-danger p-button-rounded p-button"
      iconPos="left" (click)="NewTransactionOrList()"></button>
  </div>
  <div *ngIf="isNewTransaction">
    <app-add-transaction></app-add-transaction>
  </div>
  <div *ngIf="!isNewTransaction">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <ng-container>
            <mat-icon>add_circle</mat-icon>
          </ng-container>
      
    
    
        <!--- Note that these columns can be defined in any order.
            <mat-icon aria-label="Example home icon">add</mat-icon>
              The actual rendered columns are set as a property on the row definition" -->
      
        <!-- Position Column -->
        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef> No. </th>
          <td mat-cell *matCellDef="let element"> {{element.position}} </td>
        </ng-container>
      
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
      
        <!-- Weight Column -->
        <ng-container matColumnDef="weight">
          <th mat-header-cell *matHeaderCellDef> Weight </th>
          <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
        </ng-container>
      
        <!-- Symbol Column -->
        <ng-container matColumnDef="symbol">
          <th mat-header-cell *matHeaderCellDef> Symbol </th>
          <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
</div>
