<div class="card-container" fxLayout="row" fxLayoutAlign="center center" fxFlexFill>
 
      
     
    
    <mat-card class="mat-card" fxFlex="40" > 
      
      <!--<img mat-card-image class="home-image" src="../../../assets/images/logo_AirSenegal.jpg" fxFlex="50%">
      -->
 <div class="formulaire">
  <mat-toolbar class="toolbar">
    <!--<img mat-card-avatar
    id="profile-img"
    src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"
    class="profile-img-card"align-items="center"
  /> -->
  <mat-card-title class="title-center">
    <span>Reset Password</span>
  </mat-card-title>
   
 



  
    
</mat-toolbar>
<form [formGroup]="resetPasswordForm" class="form-content" fxLayoutAlign="stretch" fxLayout="column" (ngSubmit)="newPassword()" novalidate>
    <mat-form-field>
        <input matInput id="email" type="email" formControlName = "email" required placeholder="email">
          <div class="alert-danger" *ngIf="f['email'].errors && f['email'].touched">
            <div *ngIf="f['email'].errors?.['required']">Email is required</div>
            <div *ngIf="f['email'].errors?.['email']">Email must be a valid email address</div>
          </div>
      </mat-form-field>
      <button [disabled]="resetPasswordForm.invalid" class="mat-button" mat-raised-button  type="submit">Envoyer</button>
</form>
 </div>
    </mat-card>
</div>

   